.input_Options {
    display: flex;
    align-items: center;
    /* margin-top: 3px; */
    color: gray;
    /* padding: 3px; */
    cursor: pointer;
}

.input_Options:hover {
    background-color: white;
    border-radius: 10px;
}

.input_Options>h4 {
    margin-left: 5px;
}