body {
  text-align: center;
}
.read-more {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.read-more-btn {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.read-more-btn:hover {
  background-color: #3e8e41;
}
.cocktail-data {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem
}

.cocktail-data li img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
}

.cocktail-data li {
  list-style-type: none;
}

@media screen and (min-width:769px) {
  .cocktail-data {
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
